APP_NAME="Purrfect Cloud"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID="-100CHAT_ID"
TELEGRAM_CHAT_ANNOUNCEMENT_THREAD_ID=""
TELEGRAM_CHAT_ERROR_THREAD_ID=""

FARMER_LOG_API_CALLS=false

FARMER_ENABLE_PAYMENTS=false
FARMER_SUBSCRIPTION_AMOUNT=1550

FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=

PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Proxy
FARMER_PROXY_ENABLED=false
FARMER_PROXY_API_KEY=
FARMER_PROXY_PAGE=1
FARMER_PROXY_PAGE_SIZE=100

# Concurrency
FARMER_ENABLE_CONCURRENCY=true
FARMER_RUN_IN_BACKGROUND=true

ENABLE_TELEGRAM_SESSIONS=false

DISPLAY_FARMER_TITLE=false
DISABLE_TELEGRAM_MESSAGES=false

# Unijump
FARMER_UNIJUMP_ENABLED=true
FARMER_UNIJUMP_THREAD_ID=""

# Gold Eagle
FARMER_GOLD_EAGLE_ENABLED=true
FARMER_GOLD_EAGLE_THREAD_ID=""

# Digger
FARMER_DIGGER_ENABLED=true
FARMER_DIGGER_THREAD_ID=""

# Space Adventure
FARMER_SPACE_ADVENTURE_ENABLED=true
FARMER_SPACE_ADVENTURE_THREAD_ID=""

# MatchQuest
FARMER_MATCHQUEST_ENABLED=true
FARMER_MATCHQUEST_THREAD_ID=""

# Hrum
FARMER_HRUM_ENABLED=true
FARMER_HRUM_THREAD_ID=""

# Wonton
FARMER_WONTON_ENABLED=true
FARMER_WONTON_THREAD_ID=""

# Tsubasa
FARMER_TSUBASA_ENABLED=true
FARMER_TSUBASA_THREAD_ID=""

# Funatic
FARMER_FUNATIC_ENABLED=true
FARMER_FUNATIC_THREAD_ID=""

# Slotcoin
FARMER_SLOTCOIN_ENABLED=true
FARMER_SLOTCOIN_THREAD_ID=""

# Dreamcoin
FARMER_DREAMCOIN_ENABLED=true
FARMER_DREAMCOIN_THREAD_ID=""

# Seeker
SEEKER_IS_ENABLED=false
SEEKER_SERVER=""
SEEKER_KEY=""

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=purrfect_cloud
# DB_USERNAME=root
# DB_PASSWORD=

MADELINE_DB_ENABLED=false
MADELINE_DB_URI="tcp://${DB_HOST}"
MADELINE_DB_DATABASE="${DB_DATABASE}_madeline"
MADELINE_DB_USERNAME="${DB_USERNAME}"
MADELINE_DB_PASSWORD="${DB_PASSWORD}"
MADELINE_DB_PREFIX="madeline_"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
